$Theme-color-white: #fff;
$Theme-color-black: #333;
$Theme-color-primary: #66b3aa;
$Theme-color-secondary: #c19a4a;

$Theme-header-height: 50px;
$Theme-footer-height: 50px;

$Theme-half-spacing: 25px;
$Theme-small-spacing: 12.5px;
$Theme-default-spacing: 50px;

$Theme-breakpoint-mobile: 780px;
