.Lineup {
  padding-top: $Theme-default-spacing;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  @media(max-width: 780px) {
    padding: $Theme-default-spacing 0;
    justify-content: center;
  }
}

.Lineup-day {
  max-width: 130px;
  text-align: center;
  color: $Theme-color-white;
  text-transform: uppercase;

  @media(max-width: 780px) {
    width: 100%;
    margin: 5px 10px;
  }
}

.Lineup-date {
  text-align: center;
  font-size: 16px;

  @media(max-width: 780px) {
    display: none;
  }
}

.Lineup-dash {
  width: 40px;
  margin: 20px auto;
  border-bottom: 2px solid rgba(255, 255, 255, .5);

  @media(max-width: 780px) {
    margin: 5px auto;
  }
}

.Lineup-image {
  height: 75px;
  border-radius: 50%;

  @media(max-width: 780px) {
    height: 50px;
    padding: 5px 0;
  }
}

.Lineup-artist {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media(max-width: 780px) {
    font-size: 16px;
    height: 30px;
    margin: 0 0 20px;
  }
}
