.Lineup {
  padding-top: $Theme-default-spacing;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Lineup-day {
  max-width: 130px;
  text-align: center;
  color: $Theme-color-white;
  text-transform: uppercase;
}

.Lineup-image {
  height: 75px;
  border-radius: 50%;
}

.Lineup-artist {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
