.MapWrapper {
  padding: $Theme-default-spacing 0;
  height: 400px;
}

.MapWrapper-title {
  color: $Theme-color-white;
  text-align: center;
  padding: $Theme-default-spacing;
}

.MapWrapper-information {
  color: $Theme-color-white;
}

.MapWrapper-map {
  height: 400px;
}
