$map-height: 400px;

.MapWrapper {
  height: $map-height;
  padding: $Theme-default-spacing 0;

  @media(max-width: $Theme-breakpoint-mobile) {
    padding: 0;
  }
}

.MapWrapper-title {
  padding: $Theme-default-spacing;

  text-align: center;
  color: $Theme-color-white;

  @media(max-width: $Theme-breakpoint-mobile) {
    padding: 0;
  }
}

.MapWrapper-information {
  padding-bottom: $Theme-default-spacing;

  text-align: center;
  color: $Theme-color-white;

  @media(max-width: $Theme-breakpoint-mobile) {
    padding: $Theme-small-spacing;
  }
}

.MapWrapper-map {
  height: $map-height;
}
