.Schedule {
  padding-top: $Theme-default-spacing * 6;
}

.Schedule-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;

  color: $Theme-color-white;
}

.Schedule-day {
  width: 230px;
  text-align: left;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: $Theme-default-spacing / 2 0;
}

.Schedule-date {
  text-align: center;
  font-size: 20px;
}

.Schedule-dash {
  width: 20%;
  margin: 20px auto;
  border-bottom: 2px solid rgba(255, 255, 255, .5);
}

.Schedule-time {
  opacity: 0.5;
}
