.Sponsors {
  padding-top: $Theme-default-spacing * 2;

  @media(max-width: 780px) {
    padding-top: $Theme-default-spacing;
  }
}

.Sponsors-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: $Theme-default-spacing;
}

.Sponsors-title {
  text-align: center;
  color: $Theme-color-white;
}

.Sponsors-main {
  max-width: 300px;
}

.Sponsors-day {
  max-width: 125px;
  margin: $Theme-half-spacing / 2;
}
