<div class="Camping" id="camping">
  <h1 class="Camping-title">Campismo</h1>
  <p class="Camping-text">
    O campismo oficial do Kulverão'15 será no Parque de Nossa Senhora de Lurdes.
    De forma inteiramente grátis, terás acesso ao campismo, balneários, campo de volei e futebol de praia e ainda a um dos melhores sítios para descansares envolvido por uma natureza contagiante e uma calma que será remédio santo para voltares para as nossas atividades de tarde e para a nossa noite com a máxima energia!
    Nunca esquecendo que devem preservar este espaço ao máximo. Deixando-o sempre como o encontraram!
  </p>
  <img class="Camping-image" src="images/camping.jpg"></img>
</div>
