<div class="Lineup">
  <div class="Lineup-day">
    <div class="Lineup-date">
      Segunda-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">Garotas de Ipanema</h3>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Terça-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">Fernando Alvim</h3>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Quarta-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">DJ's de Vacaciones</h3>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Quinta-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">DJ Overule</h3>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Sexta-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">P*ta da  Loucura</h3>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Sábado
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image"  src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">DJ MD</h3>
  </div>
</div>
