<div class="Lineup">
  <div class="Lineup-day">
    <p>Segunda-feira</p>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">Garotas de Ipanema</h3>
    <h4>Os Raimundos</h4>
    <h5>DJ Pedrosa</h5>
  </div>
  <div class="Lineup-day">
    <p>Terça-feira</p>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">Fernando Alvim</h3>
    <h4>DJ Marcelo Duarte</h4>
    <h5>Finfas de Nespereira</h5>
  </div>
  <div class="Lineup-day">
    <p>Quarta-feira</p>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">DJ's de Vacaciones</h3>
    <h4>Stand-up comedy: David Almeida</h4>
    <h5>Findas de Paradela</h5>
  </div>
  <div class="Lineup-day">
    <p>Quinta-feira</p>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">DJ Overule</h3>
    <h4>DJ Rui Teixeira Sunset</h4>
    <h5>Luso Dance</h5>
  </div>
  <div class="Lineup-day">
    <p>Sexta-feira</p>
    <img class="Lineup-image" src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">P*ta da  Loucura</h3>
  </div>
  <div class="Lineup-day">
    <p>Sábado</p>
    <img class="Lineup-image"  src="http://placehold.it/100x100"></img>
    <h3 class="Lineup-artist">DJ MD</h3>
    <h4>DJ Ivo Correia</h4>
  </div>
</div>
