<div class="Lineup">
  <div class="Lineup-day">
    <div class="Lineup-date">
      Segunda-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="./images/garotas.png"></img>
    <h3 class="Lineup-artist">Garotas de Ipanema</h3>
    <div class="Lineup-dash"></div>
    <h4 class="Lineup-artist">Os Raimundos</h4>
    <div class="Lineup-dash"></div>
    <h5 class="Lineup-artist">DJ Pepe</h5>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Terça-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="./images/alvim.png"></img>
    <h3 class="Lineup-artist">Fernando Alvim</h3>
    <div class="Lineup-dash"></div>
    <h4 class="Lineup-artist">DJ Marcelo Duarte</h4>
    <div class="Lineup-dash"></div>
    <h5 class="Lineup-artist">Finfas de Nespereira</h5>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Quarta-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="./images/vacaciones.png"></img>
    <h3 class="Lineup-artist">DJ's de Vacaciones</h3>
    <div class="Lineup-dash"></div>
    <h4 class="Lineup-artist">Stand up comedy: david almeida</h4>
    <div class="Lineup-dash"></div>
    <h5 class="Lineup-artist">finfas de paradela</h5>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Quinta-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="./images/overule.png"></img>
    <h3 class="Lineup-artist">DJ Overule</h3>
    <div class="Lineup-dash"></div>
    <h4 class="Lineup-artist">DJ Rui Teixeira Sunset</h4>
    <div class="Lineup-dash"></div>
    <h5 class="Lineup-artist">Luso Dance</h5>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Sexta-feira
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image" src="./images/ptaloucura.png"></img>
    <h3 class="Lineup-artist">P*ta da  Loucura</h3>
  </div>
  <div class="Lineup-day">
    <div class="Lineup-date">
      Sábado
      <div class="Lineup-dash"></div>
    </div>
    <img class="Lineup-image"  src="./images/md.png"></img>
    <h3 class="Lineup-artist">DJ MD</h3>
    <div class="Lineup-dash"></div>
    <h4 class="Lineup-artist">DJ Ivo Correia</h4>
  </div>
</div>
