<h1>Horário</h1>
<div class="Lineup" id="schedule">
  <div class="Lineup-day">
    <h3>Segunda-feira</h3>
    <p>Garotas de Ipanema</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
  </div>
  <div class="Lineup-day">
    <h3>Terça-feira</h3>
    <p>Fernando Alvim</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
  </div>
  <div class="Lineup-day">
    <h3>Quarta-feira</h3>
    <p>DJ's de vacaciones</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
  </div>
  <div class="Lineup-day">
    <h3>Quinta-feira</h3>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
  </div>
  <div class="Lineup-day">
    <h3>Sexta-feira</h3>
    <p>P*ta da  Loucura</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
  </div>
  <div class="Lineup-day">
    <h3>Sábado</h3>
    <p>DJ MD</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
    <p>DJ oversule - 20:00</p>
  </div>
</div>
