<div class="Schedule" id="schedule">
  <h1 class="Schedule-grid">
    Horário
  </h1>
  <div class="Schedule-grid">
    <div class="Schedule-day">
      <div class="Schedule-date">
        Segunda-feira
        <div class="Schedule-dash"></div>
      </div>
      <p><span class="Schedule-time">15:43 - </span>Volei de Praia</p>
      <p><span class="Schedule-time">15:44 - </span>Insufláveis</p>
      <p><span class="Schedule-time">17:05 - </span>Zumba</p>
      <p><span class="Schedule-time">23:12 - </span>Os Raimundos</p>
      <p><span class="Schedule-time">01:14 - </span>Garotas de Ipanema</p>
      <p><span class="Schedule-time">01:14 - </span>DJ Pedrosa</p>
    </div>
    <div class="Schedule-day">
      <div class="Schedule-date">Terça-feira
        <div class="Schedule-dash"></div>
      </div>
      <p><span class="Schedule-time">15:32 - </span>Volei de Praia</p>
      <p><span class="Schedule-time">15:33 - </span>Insufláveis</p>
      <p><span class="Schedule-time">17:41 - </span>Zumba</p>
      <p><span class="Schedule-time">21:28 - </span>Finfas de Nespereira</p>
      <p><span class="Schedule-time">00:03 - </span>DJ Marcelo Duarte</p>
      <p><span class="Schedule-time">00:03 - </span>Fernando Alvim</p>
    </div>
    <div class="Schedule-day">
      <div class="Schedule-date">Quarta-feira
        <div class="Schedule-dash"></div>
      </div>
      <p><span class="Schedule-time">14:43 - </span>Insufláveis</p>
      <p><span class="Schedule-time">14:54 - </span>Kayaks</p>
      <p><span class="Schedule-time">17:03 - </span>Exibição de Strong Man</p>
      <p><span class="Schedule-time">20:01 - </span>Pic-Nic</p>
      <p><span class="Schedule-time">21:16 - </span>Finfas Paradela</p>
      <p><span class="Schedule-time">23:43 - </span>Stand-Up Comedy: David Almeida</p>
      <p><span class="Schedule-time">01:56 - </span>DJ's de Vacaciones</p>
    </div>
  </div>
  <div class="Schedule-grid">
    <div class="Schedule-day">
      <div class="Schedule-date">Quinta-feira
        <div class="Schedule-dash"></div>
      </div>
      <p><span class="Schedule-time">15:27 - </span>Insufláveis</p>
      <p><span class="Schedule-time">16:42 - </span>Sunset</p>
      <p><span class="Schedule-time">16:42 - </span>DJ Bruno B</p>
      <p><span class="Schedule-time">16:42 - </span>DJ KSL</p>
      <p><span class="Schedule-time">16:42 - </span>Oxycrackers</p>
      <p><span class="Schedule-time">16:42 - </span>DJ Rui Teixeira</p>
      <p><span class="Schedule-time">21:47 - </span>Lusodance</p>
      <p><span class="Schedule-time">01:32 - </span>DJ Overule</p>
      <p><span class="Schedule-time">01:32 - </span>DJ Rui Teixeira</p>
    </div>
    <div class="Schedule-day">
      <div class="Schedule-date">Sexta-feira
        <div class="Schedule-dash"></div>
      </div>
      <p><span class="Schedule-time">14:43 - </span>Insufláveis</p>
      <p><span class="Schedule-time">15:32 - </span>Volei de Praia</p>
      <p><span class="Schedule-time">17:03 - </span>Zumba</p>
      <p><span class="Schedule-time">00:32 - </span>P*ta da Loucura</p>
    </div>
    <div class="Schedule-day">
      <div class="Schedule-date">Sábado
        <div class="Schedule-dash"></div>
      </div>
      <p><span class="Schedule-time">01:34 - </span>DJ MD</p>
      <p><span class="Schedule-time">01:34 - </span>DJ IVO</p>
    </div>
  </div>
</div>
