<div class="Sponsors">
  <h1 class="Sponsors-title">Patrocinadores</h1>
  <div class="Sponsors-container">
    <img src="images/ca.png" class="Sponsors-day"></img>
    <img src="images/lider.png" class="Sponsors-day"></img>
    <img src="images/dourofenix.png" class="Sponsors-main"></img>
    <img src="images/pordosol.png" class="Sponsors-day"></img>
    <img src="images/13cafe.png" class="Sponsors-day"></img>
  </div>
  <div class="Sponsors-container">
    <img src="images/municipio.png" class="Sponsors-day"></img>
    <img src="images/junta.png" class="Sponsors-day"></img>
  </div>
</div>
